In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import matplotlib
import matplotlib.font_manager as fm
# 시각화 시 한글 폰트 깨짐 방지
fm.get_fontconfig_fonts()
font_location = 'C:/Windows/Fonts/malgun.ttf' # For Windows
font_name = fm.FontProperties(fname=font_location).get_name()
matplotlib.rc('font', family=font_name)

In [104]:
full_data = pd.read_csv('전처리완료데이터.csv').iloc[:,1:]
full_data

,BERTH_PLAN_LOG_ID,TERMINAL,VESSEL_CD,VOYAGE,BERTHN_DTM,DEP_DTM,LOD_CNT,DIS_CNT,SHFT_CNT,REG_DATE,...,접안능력(2만),접안능력(3만),접안능력(4만),접안능력(5만톤),작업시간(분),입항년도,입항월,입항일,입항시,총 작업량
0,1198857,BNCT,CATO,5,2019-12-30 10:36:00,2019-12-31 23:50:00,1100,539,88,2020-01-01 00:06:05,...,0,0,0,4,2234.0,2019,12,30,10,1727
1,1198903,PNIT,DWFM,32,2019-12-31 17:00:00,2020-01-01 01:00:00,135,61,0,2020-01-01 01:06:56,...,0,0,0,3,480.0,2019,12,31,17,196
2,1198958,PNC,ONIS,30,2019-12-31 11:00:00,2020-01-01 08:00:00,896,1000,0,2020-01-01 05:06:55,...,0,0,0,6,1260.0,2019,12,31,11,1896
3,1198998,HJIT,DPUX,1,2020-01-01 01:00:00,2020-01-01 05:20:00,0,238,0,2020-01-01 07:06:39,...,0,2,1,0,260.0,2020,1,1,1,238
4,1199009,HPNT,HHBS,1,2019-12-31 11:12:00,2020-01-01 04:00:00,405,641,120,2020-01-01 07:36:25,...,2,0,0,2,1008.0,2019,12,31,11,1166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60580,3545253,GWCT,SMLB,1,2022-08-08 12:30:00,2022-08-09 02:00:00,273,577,92,2022-08-08 18:45:27,...,0,0,0,4,810.0,2022,8,8,12,942
60581,3545254,GWCT,NITR,10,2022-08-08 21:30:00,2022-08-09 07:00:00,0,365,0,2022-08-08 18:45:27,...,0,0,0,4,570.0,2022,8,8,21,365
60582,3545255,GWCT,DYHY,13,2022-08-09 08:30:00,2022-08-09 15:30:00,72,52,0,2022-08-08 18:45:27,...,0,0,0,4,420.0,2022,8,9,8,124
60583,3545257,PNC,MGUD,3,2022-08-09 07:00:00,2022-08-10 03:00:00,972,715,354,2022-08-08 18:45:27,...,0,0,0,6,1200.0,2022,8,9,7,2041
60584,3545256,HKTL,KSIS,11,2022-08-09 04:00:00,2022-08-09 22:00:00,260,425,0,2022-08-08 18:45:28,...,0,0,0,4,1080.0,2022,8,9,4,685

In [108]:
data = full_data.copy()
data = data.drop(['BERTH_PLAN_LOG_ID', 'BERTHN_DTM', 'DEP_DTM', 'REG_DATE'], axis= 1)

# 입항년도, 월, 일, 시 는 object type으로 변경
data['입항년도'] = data['입항년도'].astype(str)
data['입항월'] = data['입항월'].astype(str)
data['입항일'] = data['입항일'].astype(str)
data['입항시'] = data['입항시'].astype(str)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60585 entries, 0 to 60584
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TERMINAL   60585 non-null  object
 1   VESSEL_CD  60585 non-null  object
 2   VOYAGE     60585 non-null  int64
 3   LOD_CNT    60585 non-null  int64
 4   DIS_CNT    60585 non-null  int64
 5   SHFT_CNT   60585 non-null  int64
 6   기온(°C)     60585 non-null  float64
 7   강수량(mm)    60585 non-null  float64
 8   풍속(m/s)    60585 non-null  float64
 9   위치         60585 non-null  object
 10  부두길이(m)    60585 non-null  float64
 11  전면수심(m)    60585 non-null  float64
 12  부지면적(^m)   60585 non-null  int64
 13  하역능력(TEU)  60585 non-null  int64
 14  접안능력(1만)   60585 non-null  int64
 15  접안능력(2만)   60585 non-null  int64
 16  접안능력(3만)   60585 non-null  int64
 17  접안능력(4만)   60585 non-null  int64
 18  접안능력(5만톤)  60585 non-null  int64
 19  작업시간(분)    60585 non-null  float64
 20  입항년도       60585 non-null  object
 21  입항월        60585 non-null  object
 22  입항일        60585 non-null  object
 23  입항시        60585 non-null  object
 24  총 작업량      60585 non-null  int64
dtypes: float64(6), int64(12), object(7)
memory usage: 11.6+ MB

In [105]:
data = full_data.copy()
data = data.drop(['BERTH_PLAN_LOG_ID', 'BERTHN_DTM', 'DEP_DTM', 'REG_DATE'], axis= 1)

# 입항년도, 월, 일, 시 는 object type으로 변경
data['입항년도'] = data['입항년도'].astype(str)
data['입항월'] = data['입항월'].astype(str)
data['입항일'] = data['입항일'].astype(str)
data['입항시'] = data['입항시'].astype(str)


# One-Hot Encoding - 대상 변수 : TERMINAL, 위치, 입항년도, 입항월, 입항일, 입항시

data = pd.get_dummies(data, columns = ['TERMINAL', '위치', '입항년도', '입항월', '입항일', '입항시'])
data

,VESSEL_CD,VOYAGE,LOD_CNT,DIS_CNT,SHFT_CNT,기온(°C),강수량(mm),풍속(m/s),부두길이(m),전면수심(m),...,입항시_21,입항시_22,입항시_23,입항시_3,입항시_4,입항시_5,입항시_6,입항시_7,입항시_8,입항시_9
0,CATO,5,1100,539,88,9.0,0.0,2.4,1400.0,17.0,...,0,0,0,0,0,0,0,0,0,0
1,DWFM,32,135,61,0,1.4,0.0,2.3,1200.0,16.0,...,0,0,0,0,0,0,0,0,0,0
2,ONIS,30,896,1000,0,-0.3,0.0,3.8,2000.0,16.5,...,0,0,0,0,0,0,0,0,0,0
3,DPUX,1,0,238,0,-5.2,0.0,2.5,800.0,18.0,...,0,0,0,0,0,0,0,0,0,0
4,HHBS,1,405,641,120,-0.3,0.0,3.8,1150.0,16.5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60580,SMLB,1,273,577,92,31.4,0.0,2.4,1400.0,16.0,...,0,0,0,0,0,0,0,0,0,0
60581,NITR,10,0,365,0,27.6,0.0,2.1,1400.0,16.0,...,1,0,0,0,0,0,0,0,0,0
60582,DYHY,13,72,52,0,27.2,0.0,1.4,1400.0,16.0,...,0,0,0,0,0,0,0,0,1,0
60583,MGUD,3,972,715,354,27.6,0.0,5.6,2000.0,16.5,...,0,0,0,0,0,0,0,1,0,0
60584,KSIS,11,260,425,0,27.1,0.0,3.6,1447.0,15.0,...,0,0,0,0,1,0,0,0,0,0

In [94]:
from sklearn.model_selection import train_test_split

X = data.drop('작업시간(분)', axis = 1)
y = data['작업시간(분)']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((48468, 120), (12117, 120), (48468,), (12117,))

In [95]:
# train set을 보고 터미널 별 업무효율로 target encoding

train_set = pd.concat([X_train, y_train], axis = 1)
train_set

,VESSEL_CD,VOYAGE,LOD_CNT,DIS_CNT,SHFT_CNT,기온(°C),강수량(mm),풍속(m/s),부두길이(m),전면수심(m),...,입항시_22,입항시_23,입항시_3,입항시_4,입항시_5,입항시_6,입항시_7,입항시_8,입항시_9,작업시간(분)
50764,MARE,2,421,389,0,7.3,0.0,3.8,1500.0,15.5,...,0,0,0,0,0,0,0,0,0,1960.0
6850,KSAC,14,187,82,0,13.9,0.0,0.8,1500.0,15.5,...,0,0,0,0,0,0,0,0,0,750.0
44218,MSFV,4,1300,1200,0,-5.6,0.0,4.2,1200.0,16.0,...,1,0,0,0,0,0,0,0,0,1080.0
32997,VOGA,3,218,214,0,19.0,0.0,6.1,2000.0,16.5,...,0,0,0,0,0,0,0,1,0,597.0
39838,BLNK,6,484,957,0,20.4,0.0,1.8,826.0,15.0,...,0,0,0,0,0,0,0,0,0,3480.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54343,OUCC,10,609,1250,0,14.4,0.0,2.1,1150.0,16.5,...,0,0,0,0,1,0,0,0,0,1170.0
38158,STMY,5,506,547,0,26.6,0.0,0.5,1500.0,15.5,...,0,0,0,0,0,0,0,0,1,1470.0
860,HHFW,1,1046,796,0,-1.9,0.0,2.2,800.0,18.0,...,0,0,0,0,0,0,0,0,0,1320.0
15795,EPNM,27,319,165,0,23.2,0.0,2.5,1500.0,15.5,...,0,0,0,0,0,0,0,0,0,1230.0
56422,KKSG,7,196,269,0,22.0,0.0,2.8,310.0,12.0,...,0,0,0,0,0,0,0,1,0,697.0

In [96]:
X_train = pd.merge(X_train, target_encode, on ='VESSEL_CD', how = 'left')
X_train

,VESSEL_CD,VOYAGE,LOD_CNT,DIS_CNT,SHFT_CNT,기온(°C),강수량(mm),풍속(m/s),부두길이(m),전면수심(m),...,입항시_22,입항시_23,입항시_3,입항시_4,입항시_5,입항시_6,입항시_7,입항시_8,입항시_9,작업효율
0,MARE,2,421,389,0,7.3,0.0,3.8,1500.0,15.5,...,0,0,0,0,0,0,0,0,0,1388.888889
1,KSAC,14,187,82,0,13.9,0.0,0.8,1500.0,15.5,...,0,0,0,0,0,0,0,0,0,852.382353
2,MSFV,4,1300,1200,0,-5.6,0.0,4.2,1200.0,16.0,...,1,0,0,0,0,0,0,0,0,1488.000000
3,VOGA,3,218,214,0,19.0,0.0,6.1,2000.0,16.5,...,0,0,0,0,0,0,0,1,0,610.400000
4,BLNK,6,484,957,0,20.4,0.0,1.8,826.0,15.0,...,0,0,0,0,0,0,0,0,0,1764.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48463,OUCC,10,609,1250,0,14.4,0.0,2.1,1150.0,16.5,...,0,0,0,0,1,0,0,0,0,1025.792453
48464,STMY,5,506,547,0,26.6,0.0,0.5,1500.0,15.5,...,0,0,0,0,0,0,0,0,1,1070.415094
48465,HHFW,1,1046,796,0,-1.9,0.0,2.2,800.0,18.0,...,0,0,0,0,0,0,0,0,0,1165.507463
48466,EPNM,27,319,165,0,23.2,0.0,2.5,1500.0,15.5,...,0,0,0,0,0,0,0,0,0,873.495238
48467,KKSG,7,196,269,0,22.0,0.0,2.8,310.0,12.0,...,0,0,0,0,0,0,0,1,0,1054.859649

In [97]:
X_test = pd.merge(X_test, target_encode, on = 'VESSEL_CD', how = 'left')
X_test

,VESSEL_CD,VOYAGE,LOD_CNT,DIS_CNT,SHFT_CNT,기온(°C),강수량(mm),풍속(m/s),부두길이(m),전면수심(m),...,입항시_22,입항시_23,입항시_3,입항시_4,입항시_5,입항시_6,입항시_7,입항시_8,입항시_9,작업효율
0,OLNB,2,1341,2064,78,14.00,0.0,1.00,1100.0,18.00,...,0,0,0,0,0,0,0,0,0,1784.125000
1,CPMY,8,255,511,0,18.00,0.0,0.90,600.0,14.00,...,1,0,0,0,0,0,0,0,0,776.666667
2,VTVY,53,300,300,0,25.84,6.3,2.08,1040.0,14.00,...,0,0,0,0,0,0,0,0,0,894.690141
3,STHB,2,694,499,0,-5.50,0.0,2.50,800.0,18.00,...,0,0,0,0,0,0,0,0,0,799.210526
4,JPPR,43,291,278,0,26.90,0.0,4.00,1500.0,15.50,...,0,0,0,0,0,0,0,0,1,989.970297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12112,DJFD,14,60,60,0,28.00,0.0,4.70,1224.0,18.00,...,0,0,0,0,0,0,0,0,0,629.106667
12113,OTCR,21,391,476,0,23.30,0.1,0.70,2000.0,16.50,...,0,0,0,0,0,0,1,0,0,923.222222
12114,EABY,5,272,287,0,14.40,0.0,4.70,826.0,15.00,...,0,0,0,0,0,0,0,0,0,387.800000
12115,YKTD,1,275,393,0,-2.00,0.0,3.60,1224.0,16.25,...,0,0,0,0,0,0,0,0,0,856.076923
12116,MNVY,1,285,0,0,-1.20,0.0,3.20,920.0,13.00,...,0,0,1,0,0,0,0,0,0,1558.941176

In [98]:
X_train = X_train.drop('VESSEL_CD', axis = 1)

X_train

,VOYAGE,LOD_CNT,DIS_CNT,SHFT_CNT,기온(°C),강수량(mm),풍속(m/s),부두길이(m),전면수심(m),부지면적(^m),...,입항시_22,입항시_23,입항시_3,입항시_4,입항시_5,입항시_6,입항시_7,입항시_8,입항시_9,작업효율
0,2,421,389,0,7.3,0.0,3.8,1500.0,15.5,1151000,...,0,0,0,0,0,0,0,0,0,1388.888889
1,14,187,82,0,13.9,0.0,0.8,1500.0,15.5,1151000,...,0,0,0,0,0,0,0,0,0,852.382353
2,4,1300,1200,0,-5.6,0.0,4.2,1200.0,16.0,840000,...,1,0,0,0,0,0,0,0,0,1488.000000
3,3,218,214,0,19.0,0.0,6.1,2000.0,16.5,1210000,...,0,0,0,0,0,0,0,1,0,610.400000
4,6,484,957,0,20.4,0.0,1.8,826.0,15.0,294000,...,0,0,0,0,0,0,0,0,0,1764.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48463,10,609,1250,0,14.4,0.0,2.1,1150.0,16.5,553000,...,0,0,0,0,1,0,0,0,0,1025.792453
48464,5,506,547,0,26.6,0.0,0.5,1500.0,15.5,1151000,...,0,0,0,0,0,0,0,0,1,1070.415094
48465,1,1046,796,0,-1.9,0.0,2.2,800.0,18.0,480000,...,0,0,0,0,0,0,0,0,0,1165.507463
48466,27,319,165,0,23.2,0.0,2.5,1500.0,15.5,1151000,...,0,0,0,0,0,0,0,0,0,873.495238
48467,7,196,269,0,22.0,0.0,2.8,310.0,12.0,303800,...,0,0,0,0,0,0,0,1,0,1054.859649

In [99]:
X_test = X_test.drop('VESSEL_CD', axis = 1)
X_test

,VOYAGE,LOD_CNT,DIS_CNT,SHFT_CNT,기온(°C),강수량(mm),풍속(m/s),부두길이(m),전면수심(m),부지면적(^m),...,입항시_22,입항시_23,입항시_3,입항시_4,입항시_5,입항시_6,입항시_7,입항시_8,입항시_9,작업효율
0,2,1341,2064,78,14.00,0.0,1.00,1100.0,18.00,688000,...,0,0,0,0,0,0,0,0,0,1784.125000
1,8,255,511,0,18.00,0.0,0.90,600.0,14.00,195000,...,1,0,0,0,0,0,0,0,0,776.666667
2,53,300,300,0,25.84,6.3,2.08,1040.0,14.00,416000,...,0,0,0,0,0,0,0,0,0,894.690141
3,2,694,499,0,-5.50,0.0,2.50,800.0,18.00,480000,...,0,0,0,0,0,0,0,0,0,799.210526
4,43,291,278,0,26.90,0.0,4.00,1500.0,15.50,1151000,...,0,0,0,0,0,0,0,0,1,989.970297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12112,14,60,60,0,28.00,0.0,4.70,1224.0,18.00,768125,...,0,0,0,0,0,0,0,0,0,629.106667
12113,21,391,476,0,23.30,0.1,0.70,2000.0,16.50,1210000,...,0,0,0,0,0,0,1,0,0,923.222222
12114,5,272,287,0,14.40,0.0,4.70,826.0,15.00,294000,...,0,0,0,0,0,0,0,0,0,387.800000
12115,1,275,393,0,-2.00,0.0,3.60,1224.0,16.25,768125,...,0,0,0,0,0,0,0,0,0,856.076923
12116,1,285,0,0,-1.20,0.0,3.20,920.0,13.00,343720,...,0,0,1,0,0,0,0,0,0,1558.941176

In [101]:
X_train['작업시간(분)'] = y_train.values
X_test['작업시간(분)'] = y_test.values
X_train

,VOYAGE,LOD_CNT,DIS_CNT,SHFT_CNT,기온(°C),강수량(mm),풍속(m/s),부두길이(m),전면수심(m),부지면적(^m),...,입항시_23,입항시_3,입항시_4,입항시_5,입항시_6,입항시_7,입항시_8,입항시_9,작업효율,작업시간(분)
0,2,421,389,0,7.3,0.0,3.8,1500.0,15.5,1151000,...,0,0,0,0,0,0,0,0,1388.888889,1960.0
1,14,187,82,0,13.9,0.0,0.8,1500.0,15.5,1151000,...,0,0,0,0,0,0,0,0,852.382353,750.0
2,4,1300,1200,0,-5.6,0.0,4.2,1200.0,16.0,840000,...,0,0,0,0,0,0,0,0,1488.000000,1080.0
3,3,218,214,0,19.0,0.0,6.1,2000.0,16.5,1210000,...,0,0,0,0,0,0,1,0,610.400000,597.0
4,6,484,957,0,20.4,0.0,1.8,826.0,15.0,294000,...,0,0,0,0,0,0,0,0,1764.571429,3480.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48463,10,609,1250,0,14.4,0.0,2.1,1150.0,16.5,553000,...,0,0,0,1,0,0,0,0,1025.792453,1170.0
48464,5,506,547,0,26.6,0.0,0.5,1500.0,15.5,1151000,...,0,0,0,0,0,0,0,1,1070.415094,1470.0
48465,1,1046,796,0,-1.9,0.0,2.2,800.0,18.0,480000,...,0,0,0,0,0,0,0,0,1165.507463,1320.0
48466,27,319,165,0,23.2,0.0,2.5,1500.0,15.5,1151000,...,0,0,0,0,0,0,0,0,873.495238,1230.0
48467,7,196,269,0,22.0,0.0,2.8,310.0,12.0,303800,...,0,0,0,0,0,0,1,0,1054.859649,697.0

In [102]:
X_test

,VOYAGE,LOD_CNT,DIS_CNT,SHFT_CNT,기온(°C),강수량(mm),풍속(m/s),부두길이(m),전면수심(m),부지면적(^m),...,입항시_23,입항시_3,입항시_4,입항시_5,입항시_6,입항시_7,입항시_8,입항시_9,작업효율,작업시간(분)
0,2,1341,2064,78,14.00,0.0,1.00,1100.0,18.00,688000,...,0,0,0,0,0,0,0,0,1784.125000,2270.0
1,8,255,511,0,18.00,0.0,0.90,600.0,14.00,195000,...,0,0,0,0,0,0,0,0,776.666667,870.0
2,53,300,300,0,25.84,6.3,2.08,1040.0,14.00,416000,...,0,0,0,0,0,0,0,0,894.690141,900.0
3,2,694,499,0,-5.50,0.0,2.50,800.0,18.00,480000,...,0,0,0,0,0,0,0,0,799.210526,930.0
4,43,291,278,0,26.90,0.0,4.00,1500.0,15.50,1151000,...,0,0,0,0,0,0,0,1,989.970297,1380.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12112,14,60,60,0,28.00,0.0,4.70,1224.0,18.00,768125,...,0,0,0,0,0,0,0,0,629.106667,480.0
12113,21,391,476,0,23.30,0.1,0.70,2000.0,16.50,1210000,...,0,0,0,0,0,1,0,0,923.222222,885.0
12114,5,272,287,0,14.40,0.0,4.70,826.0,15.00,294000,...,0,0,0,0,0,0,0,0,387.800000,960.0
12115,1,275,393,0,-2.00,0.0,3.60,1224.0,16.25,768125,...,0,0,0,0,0,0,0,0,856.076923,980.0
12116,1,285,0,0,-1.20,0.0,3.20,920.0,13.00,343720,...,0,1,0,0,0,0,0,0,1558.941176,1006.0

In [103]:
X_train.to_csv('train.csv')
X_test.to_csv('test.csv')